body {
    font-family: 'Times New Roman', Times, serif;
    margin: 0 50px;
    background-color: rgba(225, 175, 135, 0.37);

    
  }
  
  .container {
   
    gap: 400px;
    text-align: center;
    font-style: italic;
    font-size: medium;
 
  
  }
  
  #Lists {
    width: 400px;
    text-align: center;

   
  }
  
  #Lists div {
   
  text-align: center;
    justify-content: space-between;
    
    
  }
  
  .options {
    
    text-align: center;
   
  }
  
  i {
    cursor: pointer;
  }
  
  #result {
    color: red;
    font-style: oblique;
    font-size: small;
  
    
  }
  input{
  width: 250px;
  height: 50px;
  text-align: center;
  border-radius: 7px;
  font-style: oblique;
 
  }
  h1{
    text-align: center;
    font-style: italic;
    
  }
  h2{
    text-align: center;
    font-style: italic;
    
  }